<p>
  This site provides a simple mathematics game, aimed primary at primary school children.<br/>
  The aim is to improve the speed and accuracy of mathematics knowledge in our community.<br/>
  <span class="text-info">You will need to <a href="/register">register</a> to save your games, or to view them on the leaderboard.</span>
</p>
<h2 class="page-header">Account Login</h2>
<form id="loginForm" name="loginForm" method="post" action="/login">
  <div class="form-group">
    <div class="input-group input-group-lg" id="username-input">
      <div class="input-group-prepend" id="username-label">
        <span class="input-group-text" id="username-label-text">Username</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" placeholder="Username" id="username" name="username">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-lg"  id="password-input">
      <div class="input-group-prepend" id="password-label">
        <span class="input-group-text" id="password-label-text">Password</span>
      </div>
      <input type="password" class="form-control" aria-label="Password" placeholder="Password" id="password" name="password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
</form>

<script>
function loginAsGuest() {
  jQuery("#username").val('guest');
  jQuery("#password").val('guest');
  setTimeout(function () {
    jQuery("#loginForm").submit();
  }, 100);
}
</script>